.body {
    margin: 0px;
    padding: 0px;
    display: grid;
}

div {
    margin: 0px;
    padding: 0px;
}


.container {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    width: 960px;
    height: 960px;
    display: grid;
}

.filled {
    background-color: black;
}

.tiles {
    padding: 0px;
    margin: 0px;
    width: auto;
    height: auto;
    display: grid;
}